* {
  font-size: 13pt;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  display: flex;
  width: 70%;
  margin: auto;
  flex-direction: column;
  height: 75svh; /* Full viewport height */
  padding-bottom: 10px; /* Optional: Adds some space at the bottom */
}

/* HEADER */
.header-style {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center flex items on the main axis (horizontally) */
  align-items: center; /* Center flex items on the cross axis (vertically) */
  margin: 40px auto;
}

h1 {
  margin: 0; /* Remove default margin to align properly with the image */
  font-size: 2.6em; /* Adjust based on your design needs */
  white-space: nowrap; /* Prevents the text from wrapping */
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #4b6e65;
}

.img-style {
  height: auto; /* Maintain aspect ratio */
  width: auto; /* Allow width to adjust based on height */
  max-height: 2em; /* Match the h1 font size to align their heights */
}

#display-area {
  flex-grow: 1; /* Allows the display area to grow and fill available space */
  overflow-y: auto; /* Adds scroll if content exceeds available space */
  width: 80%;
  background: #a0cbc6; /* Optional: Background color for visual separation */
  border: 1px solid rgb(86, 86, 86);
  border-radius: 20px;
  margin: 10px auto;
  padding: 14px;
  line-height: 1.5;
  font-weight: 500;
}

.input-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82%;
  margin: 10px auto;
}

textarea {
  flex-grow: 2;
  resize: none; /* Prevent the user from resizing manually */
  overflow: hidden; /* Hide any overflowing content */
  margin-right: 16px;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 18px;
  padding: 8px 12px;
}

button img {
  width: 25px;
  height: 25px;
}

button {
  background-color: #24ad82;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  border: none;
  align-items: center;
  width: 140px;
  height: 46px;
}

button:disabled,
button[disabled] {
  background-color: #cccccc;
  color: #666666;
  opacity: 0.6;
  cursor: not-allowed;
}
